<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img src="assets/Smootimer-nav-1.png" class="nav-icon">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/timer">Timer</a>
        </li>
        <div *ngIf="fireAuth.user | async as user; else showLogin">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>          
        </div>

        <ng-template #showLogin>
          <li class="nav-item">
            <a class="nav-link" (click)="login()">Login</a>
          </li>
        </ng-template>
        <!-- <li class="nav-item">
          <a class="nav-link">Sign Up</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>